<nav class="navbar navbar-expand-lg   fixed-top" style="background-color: #005FAF;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"  style='color: #ffeba7;font-family: "Seymour One", sans-serif;
      
      font-style: normal;'>PETZ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" href="/pedidos" style='color: #ffeba7;font-size: 20px;'>Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/produtos" style='color: #ffeba7;font-size: 20px;'>Produto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clientes" style='color: #ffeba7;font-size: 20px;'>Clientes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>