<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<section style="height: 88.2vh;">
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Número do pedido</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<%- include('partials/footer.ejs') %>
